button[type="button"] {
    border-color: white;
    height: 40px;
    font-size: 18px;
}
/* https://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button */
[hidden] {
    display: none !important;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}  

hr {
    margin-bottom: 20px;
    margin-top: 15px;
}  

label {
    font-size: 18px;
}

label.button-upload {
    font-size: 14px;
}

label.label-left-margin {
    margin-left: 15px;
}

label.button-upload span {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    color: #b4b4b4;
}

label.button-upload strong {
    background-color: #b4b4b4;
    color: white;
    display: block;
    padding: 10px 14px;
    border-radius: 25px;
    float: left;
    font-size: 18px;
    min-width: 250px;
    text-align: center;
    line-height: 27px;
}

.container {
    max-width: 900px;
}

.container-extra-padding {
    padding: 10px 15px 10px 15px;
}

.row-bottom-margin {
    margin-bottom: 20px;
}

/* .action-btn  */
.primary-button {
    outline: black;
    height: 40px;
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
}

.cancel-button {
    outline: black;
    height: 40px;
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
}
.close {
    font-size: 40px !important;
}

.btn.newbtn2.my-btn2 {
    border: 1px solid black;
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    margin: 15px 0 0 0;
}

hr {
    border-color: #5cb85c;
    border-width: 3px;
    border-radius: 20px;
}

input[type="text"],
textarea[type="text"],
input[type="number"] {
    border-radius: 20px;
}

span.glyphicon-camera {
    font-size: 2.6em;
    color: grey;
}

#left-arrow {
    display: inline-block;
    position: relative;
    background: lightgrey;
    width: 92%;
    border-radius: 8px;
}



#style {
    margin-left: -15px;
    width: 255%;
    margin-top: -2px;
}

.img-material {
    opacity: 0.4;
    filter: alpha(opacity=50);
}

.img-selected {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /** border: 1px solid #337ab7;
    border-radius: 50%; **/
}

#preview {
    max-height: 148px;
}

.map-container {
    margin: 0 0 30px 0;
}

.map-title-container {
    padding-top: 20px;
}

.buttons-wrapper {
    padding: 0px 0 20px 0;
}

.input-col-left {
    width: 69%;
    float: left;
    margin-right: 2%
}

.input-col-right {
    width: 29%;
    float: left;
}

.who-is-registering-wrapper {
    background-color: #ededed;
    padding: 25px 10px 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ededed;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #ededed;
  }

.arrow-up-styles {
    position: absolute;
    margin-top: -40px;
    left: 30%;
}

.arrow-left-styles {
    position: absolute;
    margin-left: -40px;
    left: 40px;
}

.sign-title {
    color: black;
}

.text-grey {
    color: #ededed;
}

.container-extra-padding {
    
}

.agm-map-container-inner {
    width: inherit;
    height: inherit;
    padding: 0;
}

.agm-map-content {

}

.form-control {
    border: 2px solid #ccc;
    font-size: 18px;
    min-height: 45px;
    line-height: 31px;
}


/* remove default form validation style */
.ng-invalid:not(form), .ng-valid[required], .ng-valid.required {
    border-left: 2px solid #ccc;
}

.modal-ficha-cadastro ul {
    font-size: 18px;
}

.box-ficha-btn {
    text-align: center;
    margin-bottom: 10px;
}

.ficha-btn {
    background-color: #3FAC39;
    border-color: #3FAC39;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

/* media queries */

@media only screen and (min-width: 320px) and (max-width: 640px) {
    .map-title-container {
        padding-top: 0px;
    }
    .sign-form-header-image {
        background-image: url("/assets/img/cadastro/image1.png");
        background-size: 100%;
        height: 100px;
        background-position: bottom center;
    }
    
    .arrow-up-styles {
        left: 60%;
    }

    #left-arrow {
        margin-top: 2%;
        display: inline-block;
        position: relative;
        background: lightgrey;
        width: 90%;
        margin-left: 5%;
        color: lightgrey;
        text-decoration: none;
        padding: 20px;
    }
    #left-arrow:after {
        content: '';
        display: block;
        position: absolute;
        right: 40px;
        top: 0%;
        width: 0;
        height: 0;
        border-bottom: 30px solid lightgrey;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}

@media only screen and (min-width: 412px) and (max-width: 732px) {

    .map-title-container {
        padding-top: 0px;
    }

    #style {
        margin-left: -45px;
        width: 330%;
        margin-top: -2px;
    }
    #left-arrow {
        margin-top: 2%;
        /* width: ; */
        display: inline-block;
        position: relative;
        background: lightgrey;
        color: lightgrey;
        text-decoration: none;
        padding: 20px;
    }
    #left-arrow:after {
        content: '';
        display: block;
        position: absolute;
        right: 40px;
        top: 0%;
        width: 0;
        height: 0;
        border-bottom: 30px solid lightgrey;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

    .map-title-container {
        padding-top: 0px;
    }

    .sign-form-header-image {
        background-image: url("/assets/img/cadastro/image1.png");
        background-size: 100%;
        height: 200px;
        background-position: bottom center;
    }

    #style {
        margin-left: -45px;
        width: 255%;
        margin-top: -2px;
    }
    #left-arrow {
        margin-top: 2%;
        display: inline-block;
        position: relative;
        background: lightgrey;
        color: lightgrey;
        text-decoration: none;
        padding: 20px;
    }
    #left-arrow:after {
        content: '';
        display: block;
        position: absolute;
        right: 80px;
        top: 0%;
        width: 0;
        height: 0;
        border-bottom: 30px solid lightgrey;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}

