<div class="container-fluid container_style">
    <!--head section-->
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="header_back">
                <img src="assets/img/logo.png" class="img-responsive">
            </div>
        </div>
        <!--end col-xs-12-->
    </div>
    <!--end row-->
    <!--end of head section-->
    <!--ola brasil-->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding_brazil">
                <h1 class="ola_brazil">Olá Brasil,</h1>
                <h3 class="ola_brazil_text" style="color: #3cb54d;">Bem vindo ao Cataki, aplicativo para encontrar o catador de recicláveis mais próximo de você.</h3>
                <h3 class="ola_brazil_text">O Brasil possui mais de 800.000 catadores, boa parte deles vivendo e trabalhando em condições precárias. O <span style="font-family: DIN-BOld;">Cataki </span> reconhece os catadores como os pequenos empreendedores ambientais que são, responsáveis por coletar cerca de 90% de tudo que o nosso país recicla.</h3>
                <h3 class="ola_brazil_text">E agora, após quase dois anos de trabalho, estamos prontos para lançar o aplicativo.</h3>
            </div>
        </div>
        <!--end col-xs-12-->
    </div>
    <!--end row-->
    <!--end ola brasil-->
    <!--LANÇAMENTO CATAKI DIA 15/07-->
    <div class="row">
        <div class="col-xs-12">
            <div class="green_strip">
                <div class="text-center"> 
                    <span style="color: #fff;">LANÇAMENTO CATAKI</span> 
                    <span style="color: #000;"> DIA 15/07</span>
                </div>
            </div>
            <div class="lan_todo">
                <h3 class="ola_brazil_text">Todo processo é aberto e sem fins lucrativos, o código é livre e os sprays também, seguindo a tradição do <span style="font-family: DIN-Bold">Pimp My Carroça</span>. Você está convidado, em primeira mão, para colaborar onde achar necessário. Chega pra compor.
                </h3>
                <h3 class="ola_brazil_text">Agora, precisamos de sua ajuda para incluir catadores na base de dados. Queremos cadastrar o máximo de catadores no Brasil - e no mundo também. E, olha que beleza, vamos trocar cadastro de catadores por esses prêmios maravilindos. É a
                </h3>
                <div class="text-center"> 
                    <img src="assets/img/font.png" class="img-responsive" style="padding: 5%">
                </div>
                <!--content sedtion-->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div_width first_box">
                        <div class="row">
                            <div class="col-lg-5 col-xs-5">
                                <!--1 sty image-->
                                <img src="assets/img/img1.png" class="img-responsive">
                                <p class="img_p text_style text_st text-center" style="padding-top: 23px;">1 catador</p>
                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <!-- = sty image-->
                                <img src="assets/img/111.png" class="img-responsive is_equl" style="width: 24px;padding-top: 81%;">
                            </div>
                            <div class="col-lg-5 col-xs-5">
                                <!--3rd sty image-->
                                <img src="assets/img/img2.png" class="img-responsive">
                                <p class="img_p text_style text_st text-center">1 adesivo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 first_box div_margin" style="margin-left:1%;">
                        <div class="row">
                            <div class="col-lg-5 col-xs-5">
                                <!--1 sty image-->
                                <img src="assets/img/img3.png" class="img-responsive" style="padding-top: 18px;">
                                <p class="img_p text_style text_st text-center" style="padding-top: 26px">2 catadores</p>
                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <!-- = sty image-->
                                <img src="assets/img/111.png" class="is_equl img-responsive" style="width: 24px;padding-top: 110%;">
                            </div>
                            <div class="col-lg-5 col-xs-5">
                                <!--3rd sty image-->
                                <img src="assets/img/img4.png" class="img-responsive img_st spray_sty" style="width: 37px">
                                <p class="img_p text_style text_st text-center" style="padding-top: 3px;">1 spray NOU</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------------------------------->
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 div_width first_box">
                        <div class="row">
                            <div class="col-lg-5 col-xs-5">
                                <!--1 sty image-->
                                <img src="assets/img/img5.png" class="img-responsive">
                                <p class="img_p text_style text_st text-center">7 catadores</p>
                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <!-- = sty image-->
                                <img src="assets/img/111.png" class="is_equl img-responsive" style="width: 24px;padding-top: 80%;">
                            </div>
                            <div class="col-lg-5 col-xs-5">
                                <!--3rd sty image-->
                                <img src="assets/img/img6.png" class="img-responsive">
                                <p class="img_p text_style text_st text-center">1 camiseta</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 first_box div_margin" style="margin-left:1%;">
                        <div class="row">
                            <div class="col-lg-5 col-xs-5">
                                <!--1 sty image-->
                                <img src="assets/img/img7.png" class="img_st1 img-responsive" style="width: 121px">
                                <p class="img_p text_style text_st" style="padding-top: 4px;">10 catadores</p>
                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <!-- = sty image-->
                                <img src="assets/img/111.png" class="is_equl img-responsive" style="width: 24px;padding-top: 80%;">
                            </div>
                            <div class="col-lg-5 col-xs-5">
                                <!--3rd sty image-->
                                <img src="assets/img/img8.png" class="img_st1 img-responsive" style="width: 121px">
                                <p class="text_style text_st" style="font-size: 21px;padding-top: 7px;color:#A0A09E;">1 gravura</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------>
                <div class="row" style="margin-bottom: 77px;">
                    <div class="div_width col-lg-11 col-md-12 col-sm-12 col-xs-12 last_box">
                        <div class="row" style="padding-bottom: 1%;">
                            <div class="col-lg-5 col-xs-5">
                                <!--1 sty image-->
                                <img src="assets/img/img9.png" class="three_img img-responsive tx_style" style="width:205px;">
                                <p class="text_style tx_style_tx" style="font-size: 21px;padding-top: 10px;color: #A0A09E;">3 catadores</p>
                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <!-- = sty image-->
                                <img src="assets/img/111.png" class="iss_equal is_equl img-responsive" style="width: 24px;padding-top: 12%;">
                            </div>
                            <div class="col-lg-5 col-xs-5">
                                <!--3rd sty image-->
                                <p class="img_p text_style">frete grátis para todo Brasil</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--content sedtion-->
                <h3 class="ola_brazil_text">Por exemplo: Maria Joaquina, de Goiania, cadastrou 13 catadores.
                </h3>
                <h3 class="ola_brazil_text">Ela pode trocar seus pontos por 4 latas de spray (8 pontos) e dois adesivos (2 pontos), que serão entregues em sua casa (3 pontos). Ou ela poderá pedir apenas uma gravura maravilinda (10 pontos), entregue na sua casa (3 pontos)
                </h3>
                <h3 class="ola_brazil_text">Ou qualquer combinação.
                </h3>
                <h3 class="ola_brazil_text">Que tal, vamos lá?
                </h3>
                <div style="color: #3cb54d;padding-top: 1%;">
                    <!--REGRAS E DICAS DE CADASTRO-->
                    <h1 class="regras_style">REGRAS E DICAS DE CADASTRO</h1>
                    <div class="ola_brazil_text" style="padding-left: 5%;">
                        <!--bullets-->
                        <h3>. Você estará cadastrando um perfil profissional, tenha isso em mente;
                        </h3>
                        <h3>. Cada cadastro precisará ser verificado antes do envio dos prêmios;
                        </h3>
                        <h3>. Queremos respeitar e divulgar a imagem dos catadores, por isso, capriche na foto, ela precisa ser clara e positiva, é o cartão de visita do catador;
                        </h3>
                        <h3>. O texto precisa ser respeitoso, demonstrando a história e o trabalho de cada profissional da melhor forma possível. Dica: para história de vida, algumas perguntas boas para disparar são: como começou o trabalho, quais são seus sonhos, quem é a sua família;
                        </h3>
                        <h3>. O campo “apresentação 140cc” é desafiador. Você pode buscar uma frase de efeito que o catador goste, ou algo que está escrito na carroça, ou uma letra de música, algo marcante;
                        </h3>
                        <h3>. O campo “endereço de referência” precisa constar apenas rua e número.
                        </h3>
                        <h3>. Equipamento de segurança podem ser: retrovisores, fitas refletivas, luva, bota, capa de chuva;
                        </h3>
                    </div>
                    <!--bullets-->
                </div>
                <!--end REGRAS E DICAS DE CADASTRO-->
                <h3 class="ola_brazil_text" style="color: #000!important;">Para agendar a retirada ou o frete de seus prêmios, escreva para
                </h3>
                <h3 class="style_email"><span class="email_style">cataki@pimpmycarroca.com</span>
                </h3>
            </div>
            <!--end padding: 4% 17% 8% 17%;-->
        </div>
        <!--end col-xs-12-->
    </div>
    <!--end row-->
    <!--end LANÇAMENTO CATAKI DIA 15/07-->
    <!--PONTOS DE RETIRADA-->
    <div style="padding: 0% 17% 5% 17%;">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pontos_style"> PONTOS DE RETIRADA
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center">
                    <h3 class="pontos_head align_left">São Paulo</h3>
                    <p class="pontos_info align_left">
                        Sede do Pimp my Carroça
                        Lançamento em julho
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <h3 class="pontos_head align_left">RIO DE JANEIRO</h3>
                    <p class="pontos_info align_left">
                        Eccovida<br>
                        Lançamento em agosto
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <h3 class="pontos_head align_left">RECIFE</h3>
                    <p class="pontos_info align_left">
                        33 crew <br>
                        Lançamento em setembro
                    </p>
                </div>
            </div>
            <p></p>
            <div style="padding: 20% 0% 0% 0%;">
                <hr class="hr_style">
                <div style="padding: 0% 14% 0% 14%;">
                    <h3 class="ola_brazil_text" style="color: #000!important;">Para agendar a retirada ou o frete de seus prêmios, escreva para
                    </h3>
                    <h3 class="style_email"><span class="email_style">cataki@pimpmycarroca.com</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!--end PONTOS DE RETIRADA-->
    <!--footer-->
    <div class="row" style="padding: 3% 23% 5% 23%;">
        <div class="col-lg-12 no_padding">
            <h3 class="ola_brazil_text text-left">Taí! Para cadastrar um catador, escreva a senha (muito secreta) 
                <span class="pimp_style">“pimp”</span> no campo abaixo<span class="e_vam"> E VAMQUEVAM!</span>
            </h3>
        </div>
    </div>
    <div class="row" style="padding: 0% 0% 9% 22%;">
        <form class="form-inline" action="http://cataki.org/php/autenticar.php" method="post">
            <div class="form-group">
                <div class="col-lg-10 col-xs-8">
                    <div class="text-center">     
                        <input type="password" style="width:508px;border: 2px solid #000;box-shadow: -5px 5px 5px #888888;height: 42px;" class="search_box1 form-control search_box" name="senha" id="pwd">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2 col-xs-12">
                    <div class="text-center"> 
                        <button type="submit" class="search_button1 btn btn-primary cadastrar_style">CADASTRAR</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="submitted" value="TRUE">
        </form>
    </div>
    <!--end footer-->
</div>