.img-material {
    opacity: 0.4;
    filter: alpha(opacity=50);
}

.img-selected {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /** border: 1px solid #337ab7;
    border-radius: 50%; **/
}

agm-map {
    height: 500px;
}

#preview {
    max-height: 148px;
}

.gallery-photo {
    width: 100px;
    height: 100px;
}

.bootstrap-filestyle input {
    display: none;
}