<section>
    <div class="header ">
        <div class="container">
            <div class="logo row">
                <div class="col-md-10">
                <img class="logo-img" src="assets/img/logo.png">
                <p class="p1 bold-hun">O Aplicativo da reciclagem</p>
                </div>
            </div>
            <div class="headbtn ">
                <div class="row">
                <div class="col-md-2 md2"></div>
                <div class="col-md-4 col-sm-12 cada-div4" >
                    <a href="http://www.cataki.org/#/cadastro">
                    <button class="btn newbtn2 newbtn1">CADASTRE + UM CATADOR</button>
                    </a>
                    <div class="p2 baixe-mob">
                        <div class="baixe-agora">
                            <p>BAIXE AGORA GRÁTIS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 cada-div6" >
                    <button class="btn newbtn2 newbtn1" (click)="openCatadorPage()">CADASTRE + UM CATADOR</button>
                    <div class="p2 baixe-mob">
                        <div class="baixe-agora">
                            <p>BAIXE AGORA GRÁTIS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 andr-ip-btns col-sm-12">
                    <a href="https://play.google.com/store/apps/details?id=com.ionicframework.pimp473818"> <button class="btn newbtn2 newbtn-android"><i class="fa fa-android fa-2x" aria-hidden="true"></i><span>Android</span></button></a>
                    <button class="btn newbtn2 newbtn-apple"><i class="fa fa-apple fa-2x" aria-hidden="true"></i><span>iPhone</span></button>
                </div>
                </div>
            </div>
            <div class="p2 baixe-web">
                <div class="row baixe-down-row">
                <div class="col-md-7" ></div>
                <div class="col-md-5 baixe-agora" >
                    <p>BAIXE AGORA GRÁTIS</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="header2 web">
        <div class="container">
            <div class="row  ">
                <div class="col-md-5 mob-img">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="assets/img/iphone.png" alt="Generic placeholder image">
                </div>
                <div class="col-md-7 web">
                <h2 class="featurette-heading porque-head main-head">POR QUE CATAKI?</h2>
                <h2 class="featurette-heading heading1">Papo Reto</h2>
                <p class="lead">Os catadores coletam cerca de 90% de tudo que é reciclado no Brasil. Trabalhadores autônomos, são a base da pirâmide de um setor não regulado e não reconhecido.</p>
                <h2 class="featurette-heading heading1">Dignidade</h2>
                <p class="lead">Sobrevivem com a venda do que coletam.  Plástico e papelão por exemplo, valem cerca de R$ 0,20 / kg, e o vidro cerca de R$ 0,05 / kg.</p>
                <h2 class="featurette-heading heading1">Trabalho</h2>
                <p class="lead">O Cataki existe para aproximar geradores e catadores de resíduos, aumentando reciclagem e renda.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="header2 mob">
        <div class="container">
            <div class="row  ">
                <div class="col-md-7">
                <h2 class="featurette-heading porque-head main-head">POR QUE CATAKI?</h2>
                <h2 class="featurette-heading heading1">Papo Reto</h2>
                <p class="lead">Os catadores coletam cerca de 90% de tudo que é reciclado no Brasil. Trabalhadores autônomos, são a base da pirâmide de um setor não regulado e não reconhecido.</p>
                <h2 class="featurette-heading heading1">Dignidade</h2>
                <p class="lead">Sobrevivem com a venda do que coletam.  Plástico e papelão por exemplo, valem cerca de R$ 0,20 / kg, e o vidro cerca de R$ 0,05 / kg.</p>
                <h2 class="featurette-heading heading1">Trabalho</h2>
                <p class="lead">O Cataki existe para aproximar geradores e catadores de resíduos, aumentando reciclagem e renda.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="header3">
        <div class=" header3-cont">
            <div class=" head-row">
                <h2 class="heading2 main-head">CONHEÇA  E COMPARTILHE</h2>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="selected">
                        <div class="car-div">
                            <h2 class="video-head">Vídeo</h2>
                            <p class="lead">Direto ao ponto e bonitona, esta animação é a forma mais fácil de apresentar o Cataki.</p>
                            <img data-backdrop="false" data-toggle="modal" data-target="#modalvideo" class="i-img" src="assets/img/im-video.jpg">
                            <div class="share-down">
                            <!--        <img class="share-down-img share-img" src="assets/img/share_icon.png"> -->            <img class="share-down-img down-img" src="assets/img/download_icon.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="next">
                        <div class="car-div">
                            <h2 class="flyer-head">Flyer</h2>
                            <p class="lead" style="margin-bottom:0">O material com mais conteúdo. É para colocar na mão de todos, catadores e interessados no projeto.</p>
                            <p class="lead car-sub">&middot; Impresso tamanho A5</p>
                            <img class="i-img" src="assets/img/im5.jpg">
                            <div class="share-down">
                            <!--        <img class="share-down-img share-img" src="assets/img/share_icon.png"> -->          <img class="share-down-img down-img" src="assets/img/download_icon.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                </div>
                <br>
                <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="prev">
                        <div class="car-div">
                            <h2 class="video-head">Adesivo Grande</h2>
                            <p class="lead" style="margin-bottom:0">Para todos que se identificam como recicladores.</p>
                            <p class="lead car-sub">&middot; Impresso tamanho 30x15cm.</p>
                            <img class="i-img" src="assets/img/grande.jpg" >
                            <div class="share-down">
                            <!--        <img class="share-down-img share-img" src="assets/img/share_icon.png"> -->
                            <img class="share-down-img down-img" src="assets/img/download_icon.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" >
                    <div class="nextRightSecond">
                        <div class="car-div">
                            <h2 class="video-head">Adesivo Pequeno</h2>
                            <p class="lead" style="margin-bottom:0">Para colar no seu computador, no caderno, na janela e na sua amiga.</p>
                            <p class="lead car-sub">&middot; Impresso tamanho 11x4cm.</p>
                            <img class="i-img" src="assets/img/pequeno.jpg">
                            <div class="share-down">
                            <!--        <img class="share-down-img share-img" src="assets/img/share_icon.png"> -->
                            <img class="share-down-img down-img" src="assets/img/download_icon.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                </div>
            </div>
            <!-- <a id="prev"><i class="fa fa-chevron-left"></i></a>
                <a id="next"><i class="fa fa-chevron-right"></i></a> -->
        </div>
    </div>
</section>

<section class="header7">
    <div class="container">
        <div class="row ">
            <div class="col-md-7">
                <h2 class="featurette-heading main-head">TÁ LIBERADO!</h2>
                <p class="lead">Todos os materiais podem ser reproduzidos. Inclusive, se você estiver falando sério e quiser mesmo fazer uma campanha na sua cidade, nós até temos uma prata para a impressão de adesivos e flyers, escreva para nós!</p>
                <p class="lead leadcol web" >O material do Cataki é publicado sob a licença aberta cc-by-sa, que permite a livre reprodução e remix do conteúdo, inclusive para fins lucrativos, desde que a autoria seja reconhecida e também que todos os trabalhos derivados sejam também publicados sob uma licença aberta.</p>
            </div>
            <div class="col-md-5">
                <div class="row hor-icons-row">
                    <div class="col-md-12 col-sm-4 col-xs-4 round-icons"><img class=""  src="assets/img/icon2.jpg"></div>
                    <div class="col-md-12 col-sm-4 col-xs-4 round-icons"><img class=""  src="assets/img/icon3.jpg"></div>
                    <div class="col-md-12 col-sm-4 col-xs-4 round-icons"><img class=""  src="assets/img/icon1.jpg"></div>
                </div>
                <!--  <img class="round"  src="assets/img/3round.png"> -->
            </div>
        </div>
        <div class="row ver-icons-row">
            <div class="col-md-12 text-center">
                <img class=""  src="assets/img/icon2.jpg">
                <img class=""  src="assets/img/icon3.jpg">
                <img class=""  src="assets/img/icon1.jpg">
                <p class="lead leadcol text-right" ><br><u data-backdrop="false" data-toggle="modal" data-target="#myModal3">Saiba mais</u></p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="header4">
        <img src="assets/img/mob1.jpg"> 
    </div>
</section>
<section>
    <div class="header8">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7">
                <h2 class="featurette-heading main-head">CADASTRO</h2>
                <p class="lead">No Brasil, existem 800.00 catadores. No Cataki, apenas xxx estão cadastrados. Ainda temos muito trabalho.</p>
                <p class="lead">E você pode ajudar a ampliar esta rede. Catador, catadora, se cadastrem. </p>
                <p class="lead">Voluntário, voluntária, cadastre o catador da sua rua. Aquela mulher da cooperativa,  aquele homem que puxa carroça... fale com eles!</p>
                </div>
                <div class="col-md-5">
                <div class="row img-btns">
                    <div class="col-md-12 cart-img-div"><img src="assets/img/12.png"></div>
                    <div class="col-md-12"> 
                        <a href="http://www.cataki.org/#/cadastro">  <button class="btn newbtn2 my-btn1"><span>CADASTRE + UM CATADOR</span></button></a>
                    </div>
                    <div class="col-md-12"><button class="btn newbtn2 my-btn2" data-toggle="modal" data-target="#myModal" data-backdrop="false"><span>DICAS PARA CADASTRO</span></button></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="header5">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7">
                <h2 class="featurette-heading main-head">APOIO</h2>
                <p class="lead web">O Cataki é um processo aberto, sem fins lucrativos e colaborativo. Precisamos da sua ajuda. Você pode:</p>
                <p class="lead mob">O Cataki é um processo aberto, sem fins lucrativos e colaborativo.</p>
                <p class="lead mob">Precisamos da sua ajuda. Você pode:</p>
                </div>
                <div class="col-md-5">
                <ul class="newul">
                    <li>Cadastrar catadores</li>
                    <li>Trabalho de escritório</li>
                    <li>Captar recursos</li>
                    <li>Programar<span>(Django, Ionic, HTML e CSS)</span></li>
                    <li>Comunicação e design</li>
                    <li>Outro trabalho voluntário</li>
                </ul>
                <p class="lead mob">Fale Consco!</p>
                </div>
            </div>
            <div class="img1"><img src="assets/img/11.png"></div>
        </div>
    </div>
</section>
<section>
<div class="header9">
    <div class="container">
        <div class=" featurette">
            <h2 class="featurette-heading main-head" >APOIO</h2>
            <div class="mar">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="featurette-heading headnew text-left">Financiadores</h2>
                </div>
                <div class="col-md-8 img1-col">
                    <img src="assets/img/pdr.png" data-backdrop="false" data-toggle="modal" data-target="#pdrmodal">
                    <br class="mob">
                    <img class="oak-img" src="assets/img/oak.jpg" data-backdrop="false" data-toggle="modal" data-target="#oakmodal">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 class="featurette-heading headnew text-left">Parceiros</h2>
                </div>
                <div class="col-md-8 img2-col web">
                    <img src="assets/img/cdd.jpg" data-backdrop="false" data-toggle="modal" data-target="#cddmodal">
                    <img src="assets/img/locaweb.jpg" data-backdrop="false" data-toggle="modal" data-target="#locawebmodal">
                    <img src="assets/img/eccovida.jpg" data-backdrop="false" data-toggle="modal" data-target="#eccovidamodal">
                    <img src="assets/img/mncr.jpg" data-backdrop="false" data-toggle="modal" data-target="#mncrmodal">
                    <img src="assets/img/mit.jpg" class="margimg" data-backdrop="false" data-toggle="modal" data-target="#mitmodal">
                </div>
                <div class="col-md-8 img2-col mob">
                    <img class="top-imgz" src="assets/img/eccovida.jpg" data-backdrop="false" data-toggle="modal" data-target="#eccovidamodal">
                    <img class="top-imgz" src="assets/img/cdd.jpg" data-backdrop="false" data-toggle="modal" data-target="#mcddmodal"><br>
                    <img class="bottom-imgz" src="assets/img/mit.jpg" class="margimg" data-backdrop="false" data-toggle="modal" data-target="#mitmodal">
                    <img class="bottom-imgz" src="assets/img/mncr.jpg" data-backdrop="false" data-toggle="modal" data-target="#mncrmodal">
                    <img class="bottom-imgz" src="assets/img/locaweb.jpg" data-backdrop="false" data-toggle="modal" data-target="#locawebmodal">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>

<section>
    <div class="header6">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-6 col-sm-12">
                <h2 class="featurette-heading main-head">CONTATO</h2>
                <p class="lead">E aí, quer participar?  Tem alguma dúvida, crítica ou sugestão? Entre em contato com a nossa equipe.</p>
                <button class="btn newbtn2 my-btn1"><span>CATAKI@PIMPMYCARROCA.COM</span></button>
                <p class="lead">Catador, catadora, queremos você no nosso grupo de zap! Entre sem bater :)</p>
                <button class="btn newbtn2 my-btn2"><span>11 3034 - 2375</span></button>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Modal1 -->
    <div class="mod1">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title main-head">DICAS PARA CADASTRO</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <ul class="newli">
                <li >
                    Comece mostrando nosso vídeo para o catador/a, é a forma mais simples de explicar;
                </li>
                <li>
                    Você estará criando um perfil profissional, tenha isso em mente;
                </li>
                <li class="">
                    Queremos respeitar e divulgar a imagem dos catadores, por isso, capriche na foto. Ela precisa ser clara e positiva, é o cartão de visita do catador;
                </li>
                <li class="">
                    Para "História de vida", algumas perguntas boas para disparar são: como começou o trabalho, quais são seus sonhos, quem é a sua família...;
                </li>
                <li class="">
                    Para "Frase marcante", você pode buscar uma frase que o catador goste, ou algo que está escrito na carroça, uma letra de música, algo marcante e bonito;
                </li>
                <li class="">
                    Deixe claro que esse é um convite profissional, que o catador será chamado para realizar trabalhos e que a equipe do Cataki estará acompanhando o processo.
                </li>
                <li class="">
                    Estamos caminhando para a cooperativa digital! Ao longo de 2018 isso irá acontecer e os cadastrados poderão participar.
                </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal2 -->
    <div class="mod2">
    <div class="modal fade" id="oakmodal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">OAK FOUNDATION</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p>
                A Fundação OAK emprega seus recursos em mais de 40 países, incentivando o trabalho em causas globais, com impacto social e ambiental.<span class=""> A OAK financia o Pimp My Carroça institucionamente, garantindo a continuidade deste trabalho.</span>
                </p>
                <p class="link">
                oakfnd.org
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pdrmodal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Instituto PDR</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p>
                A Fundação PDR emprega seus recursos em mais de 40 países, incentivando o trabalho em causas globais, com impacto social e ambiental.<span class=""> A OAK financia o Pimp My Carroça institucionamente, garantindo a continuidade deste trabalho.</span>
                </p>
                <p class="link">
                oakfnd.org
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="locawebmodal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Locaweb</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p>
                A Fundação PDR emprega seus recursos em mais de 40 países, incentivando o trabalho em causas globais, com impacto social e ambiental.<span class=""> A OAK financia o Pimp My Carroça institucionamente, garantindo a continuidade deste trabalho.</span>
                </p>
                <p class="link">
                oakfnd.org
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="eccovidamodal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Eccovida</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p>
                A Fundação PDR emprega seus recursos em mais de 40 países, incentivando o trabalho em causas globais, com impacto social e ambiental.<span class=""> A OAK financia o Pimp My Carroça institucionamente, garantindo a continuidade deste trabalho.</span>
                </p>
                <p class="link">
                oakfnd.org
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mncrmodal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">MNCR</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p>
                A Fundação PDR emprega seus recursos em mais de 40 países, incentivando o trabalho em causas globais, com impacto social e ambiental.<span class=""> A OAK financia o Pimp My Carroça institucionamente, garantindo a continuidade deste trabalho.</span>
                </p>
                <p class="link">
                oakfnd.org
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mitmodal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">MIT</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p>
                A Fundação PDR emprega seus recursos em mais de 40 países, incentivando o trabalho em causas globais, com impacto social e ambiental.<span class=""> A OAK financia o Pimp My Carroça institucionamente, garantindo a continuidade deste trabalho.</span>
                </p>
                <p class="link">
                oakfnd.org
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cddmodal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Cidade dos Sonhos</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p>
                A Fundação PDR emprega seus recursos em mais de 40 países, incentivando o trabalho em causas globais, com impacto social e ambiental.<span class=""> A OAK financia o Pimp My Carroça institucionamente, garantindo a continuidade deste trabalho.</span>
                </p>
                <p class="link">
                oakfnd.org
                </p>
            </div>
        </div>
    </div>
    </div>
    <!--modal3-->
    <div class="mod3">
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title main-head">COPYLEFT</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p class="lead leadcol" >O material do Cataki é publicado sob a licença aberta cc-by-sa, que permite a livre reprodução e remix do conteúdo, inclusive para fins lucrativos, desde que a autoria seja reconhecida e que todos os trabalhos derivados sejam também publicados sob uma licença aberta.</p>
            </div>
        </div>
    </div>
    </div>
    <div class="mod3">
    <div class="modal fade" id="modalvideo" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <iframe class="i-frame" src="https://www.youtube.com/embed/NVb5GV6lntU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    </div>
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
   function moveToSelected(element) {
    if (element == "next") {
      var selected = jQuery(".selected").next();
    } else if (element == "prev") {
      var selected = jQuery(".selected").prev();
    } else {
      var selected = element;
    }
   
   var next = jQuery(selected).next();
   var prev = jQuery(selected).prev();
   var prevSecond = jQuery(prev).prev();
   var nextSecond = jQuery(next).next();
   
   jQuery(selected).removeClass().addClass("selected");
   
   jQuery(prev).removeClass().addClass("prev");
   jQuery(next).removeClass().addClass("next");
   
   jQuery(nextSecond).removeClass().addClass("nextRightSecond");
   jQuery(prevSecond).removeClass().addClass("prevLeftSecond");
   
   jQuery(nextSecond).nextAll().removeClass().addClass('hideRight');
   jQuery(prevSecond).prevAll().removeClass().addClass('hideLeft');
   
   }
   
   // Eventos teclado
   jQuery(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        moveToSelected('prev');
        break;
   
        case 39: // right
        moveToSelected('next');
        break;
   
        default: return;
    }
    e.preventDefault();
   });
   
   jQuery('#carousel div').click(function() {
   //moveToSelected(jQuery(this));
   });
   
   jQuery('#prev').click(function() {
   moveToSelected('prev');
   });
   
   jQuery('#next').click(function() {
   moveToSelected('next');
   });
</script>
